{% extends('frontend/layout.html') %}

{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">  
        {% if cart %}
        Checkout
        {% else %}
        Profile
        {% endif %}</h1>
</div>
<!-- Single Page Header End -->


<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                {% with tb=get_flashed_messages() %}
                {% if tb %}
                <div class="text-danger text-center">{{tb[0]}}</div>
                {% endif %}
                {% endwith %}
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary"> 
                             {% if cart %}
                            Checkout
                            {% else %}
                            Profile
                            {% endif %}</h1>
                    </div>
                </div>
                <div class="col-lg-{{ '4' if cart else '8' }} mx-auto">
                    <form action="{{url_for('trang-chu.checkout')}}" method="post" novalidate enctype="multipart/form-data">
                        {{form.hidden_tag()}}
                        {{form.fullname(class="w-100 form-control border-0 py-3 mt-3 mb-2")}}
                        {% for error in form.fullname.errors %}
                        <span style="color: red;">{{error}}</span>
                        {% endfor %}

                        {{form.email(class="w-100 form-control border-0 py-3 mt-3 mb-2")}}

                        {{form.phone(class="w-100 form-control border-0 py-3 mt-3 mb-2")}}
                        {% for error in form.phone.errors %}
                        <span style="color: red;">{{error}}</span>
                        {% endfor %}

                        {{form.address(class="w-100 form-control border-0 py-3 mt-3 mb-2")}}
                        {% for error in form.address.errors %}
                        <span style="color: red;">{{error}}</span>
                        {% endfor %}

                        <button class="w-100 btn form-control border-secondary py-3bg-w3ite 2ext-primary "
                            type="submit">
                            {% if cart %}
                            Thanh toán
                            {% else %}
                            Profile
                            {% endif %}
                        </button>
                    </form>
                </div>
                <div class="col-lg-8 {% if not cart %} d-none {% endif %}">
                    <div class="d-flex p-4 rounded mb-4 bg-white">
                        {% if cart %}
                        <i class="fas fa-gift fa-2x text-primary me-4"></i>
                        <div>
                            <h4>LIST ORDER PRODUCT</h4>
                            
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Hình</th>
                                            <th>Sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                            <th>Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, item in cart.items() %}
                                        <tr>
                                            <td>
                                                <img src="{{ url_for('static', filename='upload/' + item.image) }}" class="rounded-circle" width="150" height="150">
                                            </td>
                                            <td><strong>{{ item.name }}</strong></td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ "{:,.0f}".format(item.price) }}₫</td>
                                            <td>{{ "{:,.0f}".format(item.price * item.quantity) }}₫</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                           
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}