<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ĐĂNG KÝ TÀI KHOẢN</title>
    <link rel="stylesheet" href="{{url_for('static',filename='backend/vendor/bootstrap/css/bootstrap.min.css')}}">
    
    <link href="{{url_for('static',filename='backend/css/auth.css')}}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
       {% block content %} {% endblock %}
    </div>
    <script src="{{url_for('static',filename='backend/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='backend/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>