{% extends ('secure/layout.html') %}
{% block content %}
<div class="auth-content">
    <div class="card">
        <div class="card-body text-center">
            <div class="mb-4">
                <img class="brand" src="{{url_for('static',filename='frontend/images/logo.png')}}" alt="bootstraper logo" width="180" height="150">
            </div>
            <h6 class="mb-4 text-muted">ĐĂNG NHẬP TÀI KHOẢN</h6>
          
            {% with tb=get_flashed_messages() %}
                {% if tb %}
                    <div class="text-danger">{{tb[0]}}</div>
                {% endif %}
            {% endwith %}
            <form  method="post" novalidate>
                {{form.hidden_tag()}}
                
                <div class="mb-3 text-start">
                    <label for="email" class="form-label">{{form.email.lable}}</label>
                    {{form.email}}
                    {%for error in form.email.errors%}
                    <span style="color: red;">{{error}}</span>
                    {%endfor%}
                    
                </div>
                <div class="mb-3 text-start">
                    <label for="password" class="form-label"> {{form.password.lable}}</label>
                    {{form.password}}
                    {%for error in form.password.errors%}
                    <span style="color: red;">{{error}}</span>
                    {%endfor%}
                   
                </div>
                
                <div class="mb-3 text-start">
                    <div class="form-check">
                      {{form.remember}}
                      <label class="form-check-label" for="check1">
                       Nhớ mật khẩu!
                      </label>
                    </div>
                </div>
            
                {{form.submit}}
                <!-- <a href="" class="btn btn-danger text-white ">Đăng nhập với Gmail</a> -->
            </form>
            <p class="mb-0 text-muted">Đăng kí tài khoản mới? <a href="{{url_for('secure.register')}}">Đăng kí</a></p>
            <p class="mb-0 text-muted">Bạn quên mật khẩu phải không? <a href="{{url_for('secure.forget')}}">Lấy lại mật khẩu</a></p>
        </div>
    </div>
</div>
{% endblock %}